//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 rem(32);
	min-height: rem(52);
	text-align: center;
	font-weight: 500;
	border-radius: rem(6);
	border: rem(1) solid var(--color-indigo);
	transition: color 0.3s, background-color 0.3s;
	&.button--stroke {
		color: var(--color-indigo);
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: var(--color-indigo);
			}
		}
	}
	&.button--fill {
		color: #fff;
		background-color: var(--color-indigo);
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-indigo);
				background-color: transparent;
			}
		}
	}
}
