//====================================================================================================
.hero {
	// .hero__container
	&__container {
		@media (min-width: $tablet) {
			display: grid;
			@include adaptiveValue("column-gap", 80, 0);
			grid-template-columns: 1fr rem(478);
		}
	}
	// .hero__content
	&__content {
		@media (max-width: $tablet) {
			margin-bottom: rem(20);
		}
	}
	// .hero__name
	&__name {
		font-size: rem(16);
		font-weight: 500;
		line-height: math.div(28, 20);
		margin-bottom: em(30, 20);
		color: var(--color-indigo);
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			font-size: rem(20);
			margin-bottom: em(40, 20);
			&::before {
				content: "";
				display: inline-flex;
				flex: 0 0 rem(102);
				width: rem(102);
				height: rem(1);
				margin-right: rem(10);
				background-color: var(--color-indigo);
			}
		}
	}
	// .hero__title
	&__title {
		@include adaptiveValue("font-size", 72, 36);
		font-weight: 600;
		line-height: math.div(72, 72);
		margin-bottom: em(40, 72);
		color: var(--color-black);
	}
	// .hero__text
	&__text {
		margin-bottom: em(40, 18);
		padding-right: rem(50);
		@media (max-width: $mobile) {
			padding-right: 0;
			font-size: rem(16);
		}
	}
	// .hero__actions
	&__actions {
		display: flex;
		align-items: center;
		padding-bottom: rem(20);
		margin-bottom: rem(10);
		border-bottom: rem(1) solid #e5e7eb;
		@media (max-width: $mobileSmall) {
			flex-wrap: wrap;
		}
	}
	// .hero__button
	&__button {
		@media (max-width: $mobileSmall) {
			flex: 0 0 100%;
		}
		&:first-child {
			@media (min-width: $mobileSmall) {
				margin-right: rem(20);
			}
			@media (max-width: $mobileSmall) {
				margin-bottom: rem(10);
			}
		}
	}
	// .hero__small
	&__small {
		font-size: rem(12);
		line-height: math.div(16, 12);
	}
	// .hero__image
	&__image {
		padding-bottom: rem(525);
		@media (max-width: $mobileSmall) {
			padding-bottom: rem(325);
			margin: 0 rem(-15);
		}
	}
}
//====================================================================================================
.works {
	// .works__title
	&__title {
		@include adaptiveValue("padding-bottom", 150, 30);
		span {
			color: var(--color-indigo);
		}
	}
	// .works__body
	&__body {
		@media (min-width: $tablet) {
			display: grid;
			@include adaptiveValue("column-gap", 50, 0);
			grid-template-columns: rem(440) 1fr;
		}
	}
	// .works__img
	&__img {
		padding-bottom: percent(622, 440);
		@media (max-width: $tablet) {
			padding-bottom: percent(558, 992);
			margin-bottom: rem(30);
		}
		@media (max-width: $mobileSmall) {
			margin: 0 rem(-15) rem(30) rem(-15);
		}
	}
	// .works__items
	&__items {
		display: grid;
		align-content: center;
		@include adaptiveValue("gap", 68, 20);
		grid-template-columns: repeat(auto-fit, minmax(rem(210), 1fr));
	}
}
.item-works {
	display: inline-grid;
	grid-template-rows: auto auto 1fr;
	justify-items: start;
	align-items: end;
	// .item-works__title
	&__title {
		font-weight: 600;
		color: var(--color-black);
		margin-bottom: em(20, 18);
	}
	// .item-works__text
	&__text {
		font-size: rem(12);
		line-height: math.div(16, 12);
		margin-bottom: em(20, 12);
	}
	// .item-works__link
	&__link {
		display: inline-flex;
		align-items: center;
		flex-direction: row-reverse;
		font-weight: 500;
		color: var(--color-indigo);
		font-size: rem(12);
		line-height: math.div(16, 12);
		&::before {
			margin-left: rem(5);
			transition: transform 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translate(50%, 0);
				}
			}
		}
	}
}
//====================================================================================================
.partners {
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);
	background-color: var(--color-pink);
	// .partners__title
	&__title {
		color: var(--color-gray-light);
		margin-bottom: em(20, 20);
	}
	// .partners__body
	&__body {
		display: grid;
		column-gap: rem(80);
		row-gap: rem(30);
		grid-template-columns: repeat(auto-fit, minmax(rem(157), 1fr));
	}
}
//====================================================================================================
//====================================================================================================
