//====================================================================================================
.hero {
	// .hero__container
	&__container {
		@media (min-width: $tablet) {
			display: grid;
			@include adaptiveValue("column-gap", 80, 0);
			grid-template-columns: 1fr rem(478);
		}
	}
	// .hero__content
	&__content {
		@media (max-width: $tablet) {
			margin-bottom: rem(20);
		}
	}
	// .hero__name
	&__name {
		font-size: rem(16);
		font-weight: 500;
		line-height: math.div(28, 20);
		margin-bottom: em(30, 20);
		color: var(--color-indigo);
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			font-size: rem(20);
			margin-bottom: em(40, 20);
			&::before {
				content: "";
				display: inline-flex;
				flex: 0 0 rem(102);
				width: rem(102);
				height: rem(1);
				margin-right: rem(10);
				background-color: var(--color-indigo);
			}
		}
	}
	// .hero__title
	&__title {
		@include adaptiveValue("font-size", 72, 36);
		font-weight: 600;
		line-height: math.div(72, 72);
		margin-bottom: em(40, 72);
		color: var(--color-black);
	}
	// .hero__text
	&__text {
		margin-bottom: em(40, 18);
		padding-right: rem(50);
		@media (max-width: $mobile) {
			padding-right: 0;
			font-size: rem(16);
		}
	}
	// .hero__actions
	&__actions {
		display: flex;
		align-items: center;
		padding-bottom: rem(20);
		margin-bottom: rem(10);
		border-bottom: rem(1) solid #e5e7eb;
		@media (max-width: $mobileSmall) {
			flex-wrap: wrap;
		}
	}
	// .hero__button
	&__button {
		@media (max-width: $mobileSmall) {
			flex: 0 0 100%;
		}
		&:first-child {
			@media (min-width: $mobileSmall) {
				margin-right: rem(20);
			}
			@media (max-width: $mobileSmall) {
				margin-bottom: rem(10);
			}
		}
	}
	// .hero__small
	&__small {
		font-size: rem(12);
		line-height: math.div(16, 12);
	}
	// .hero__image
	&__image {
		padding-bottom: rem(525);
		@media (max-width: $mobileSmall) {
			padding-bottom: rem(325);
			margin: 0 rem(-15);
		}
	}
}
//====================================================================================================
.works {
	// .works__title
	&__title {
		@include adaptiveValue("padding-bottom", 150, 30);
		span {
			color: var(--color-indigo);
		}
	}
	// .works__body
	&__body {
		@media (min-width: $tablet) {
			display: grid;
			@include adaptiveValue("column-gap", 50, 0);
			grid-template-columns: rem(440) 1fr;
		}
	}
	// .works__img
	&__img {
		padding-bottom: percent(622, 440);
		@media (max-width: $tablet) {
			padding-bottom: percent(558, 992);
			margin-bottom: rem(30);
		}
		@media (max-width: $mobileSmall) {
			margin: 0 rem(-15) rem(30) rem(-15);
		}
	}
	// .works__items
	&__items {
		display: grid;
		align-content: center;
		@include adaptiveValue("gap", 68, 20);
		grid-template-columns: repeat(auto-fit, minmax(rem(210), 1fr));
	}
}
.item-works {
	display: inline-grid;
	grid-template-rows: auto auto 1fr;
	justify-items: start;
	align-items: end;
	// .item-works__title
	&__title {
		font-weight: 600;
		color: var(--color-black);
		margin-bottom: em(20, 18);
	}
	// .item-works__text
	&__text {
		font-size: rem(12);
		line-height: math.div(16, 12);
		margin-bottom: em(20, 12);
	}
	// .item-works__link
	&__link {
		display: inline-flex;
		align-items: center;
		flex-direction: row-reverse;
		font-weight: 500;
		color: var(--color-indigo);
		font-size: rem(12);
		line-height: math.div(16, 12);
		&::before {
			margin-left: rem(5);
			transition: transform 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translate(50%, 0);
				}
			}
		}
	}
}
//====================================================================================================
.partners {
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);
	background-color: var(--color-pink);
	// .partners__title
	&__title {
		color: var(--color-gray-light);
		margin-bottom: em(20, 20);
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}
	// .partners__body
	&__body {
		display: grid;
		column-gap: rem(80);
		row-gap: rem(20);
		grid-template-columns: repeat(auto-fit, minmax(rem(157), 1fr));
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}
}
//====================================================================================================
.projects {
	// .projects__title
	&__title {
		@include adaptiveValue("margin-bottom", 150, 30);
	}
	// .projects__body
	&__body {
		display: grid;
		gap: rem(30);
		@media (max-width: $pc) {
			gap: rem(15);
		}
		@media (min-width: em(600)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobileSmall) {
			margin: 0 rem(-15);
		}
	}
}
.item-projects {
	cursor: pointer;
	position: relative;
	@media (any-hover: hover) {
		&:hover {
			.item-projects__content {
				opacity: 1;
				visibility: visible;
			}
			.item-projects__img {
				img {
					transform: scale(1.025);
				}
			}
		}
	}
	@media (any-hover: none) {
		.item-projects__content {
			opacity: 1;
			visibility: visible;
		}
	}
	@media (min-width: em(600)) {
		&:nth-child(2) {
			grid-row: span 2;
			.item-projects__img {
				padding-bottom: percent(958, 575);
			}
		}
		&:nth-child(4) {
			grid-column: span 2;
			.item-projects__img {
				padding-bottom: rem(400);
			}
		}
	}
	// .item-projects__content
	&__content {
		cursor: default;
		opacity: 0;
		visibility: hidden;
		z-index: 5;
		position: absolute;
		bottom: 0;
		left: 0;
		display: grid;
		column-gap: rem(20);
		row-gap: rem(5);
		align-items: center;
		grid-template-columns: 1fr rem(30);
		width: calc(100% - 40px);
		margin: rem(20);
		padding: rem(24);
		transition: opacity 0.3s, visibility 0.3s;
		background-color: #fff;
		@media (max-width: $mobile) {
			margin: rem(10);
			padding: rem(15);
			width: calc(100% - 20px);
		}
	}
	// .item-projects__title
	&__title {
		color: var(--color-black);
		font-weight: 500;
	}
	// .item-projects__post
	&__post {
		color: var(--color-gray-light);
		font-size: rem(14);
		line-height: math.div(20, 14);
	}
	// .item-projects__link
	&__link {
		grid-row: span 2;
		font-size: rem(30);
		color: var(--color-black);
		transition: transform 0.3s;
		@media (any-hover: hover) {
			&:hover {
				transform: translate(50%, 0);
			}
		}
	}
	// .item-projects__img
	&__img {
		overflow: hidden;
		padding-bottom: percent(464, 575);
		img {
			transition: transform 0.3s;
		}
	}
}
//====================================================================================================
.services {
	// .services__container
	&__container {
		display: grid;
		row-gap: rem(40);
		@media (min-width: $tablet) {
			column-gap: rem(80);
			row-gap: 0;
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
.item-services {
	display: grid;
	@media (min-width: $tablet) {
		text-align: center;
		align-items: end;
		grid-template-rows: auto auto 1fr;
	}
	@media (max-width: $tablet) {
		column-gap: rem(20);
		grid-template-columns: rem(80) 1fr;
	}
	@media (max-width: $mobileSmall) {
		grid-template-columns: rem(60) 1fr;
	}
	// .item-services__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(140);
		height: rem(140);
		margin-bottom: rem(40);
		margin-left: auto;
		margin-right: auto;
		border-radius: rem(6);
		background-color: #eef2ff;
		@media (max-width: $tablet) {
			width: rem(80);
			height: rem(80);
			margin-bottom: 0;
			grid-row: span 2;
			img {
				width: rem(30);
			}
		}
		@media (max-width: $mobileSmall) {
			width: rem(60);
			height: rem(60);
		}
	}
	// .item-services__title
	&__title {
		color: var(--color-dark);
		font-weight: 600;
		@include adaptiveValue("font-size", 30, 18);
		line-height: math.div(36, 30);
		margin-bottom: em(20, 30);
		@media (max-width: $tablet) {
			margin-bottom: em(10, 30);
		}
	}
	// .item-services__text
	&__text {
		color: var(--color-gray-light);
		@media (max-width: $tablet) {
			font-size: rem(16);
		}
	}
}
//====================================================================================================
.careers {
	// .careers__title
	&__title {
		@include adaptiveValue("margin-bottom", 150, 30);
	}
}
.table {
	display: grid;
	@include adaptiveValue("row-gap", 80, 20);
	// .table__row
	&__row {
		display: grid;
		@include adaptiveValue("column-gap", 40, 15);
		grid-template-columns: repeat(3, 1fr);
	}
	// .table__header
	&__header {
		text-transform: uppercase;
		font-size: rem(16);
		font-weight: 500;
		line-height: math.div(24, 16);
		text-align: left;
		&:last-child {
			text-align: right;
		}
	}
	// .table__body
	&__body {
		display: grid;
		@include adaptiveValue("row-gap", 80, 15);
	}
	// .table__data
	&__data {
		font-size: rem(16);
		line-height: math.div(24, 16);
		span {
			color: var(--color-black);
			font-weight: 600;
		}
		&:last-child {
			text-align: right;
		}
	}
}
//====================================================================================================
